.container {
  margin: 0 auto;
  width: min(1110px, 100% - 2rem);
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 2rem;

  @media (min-width: 1024px) {
    margin-block: 0;
  }
}
