@use "../01-helpers" as h;

.button {
  cursor: pointer;
  background-color: h.$clr-se-200;
  padding: 0.9rem 2.1rem;
  border-radius: 100vmax;
  border: solid 1px h.$clr-se-200;
  box-shadow: #63636333 1px 2px 8px 0px;
  outline: green 2px;
  transition: all 0.5s ease;
}

.button--primary-100 {
  color: h.$clr-pr-100;
  &:hover {
    background-color: h.$clr-pr-100;
    color: h.$clr-se-200;
  }
}
.button--primary-200 {
  color: h.$clr-pr-200;
  &:hover {
    background-color: h.$clr-pr-200;
    color: h.$clr-se-200;
  }
}
.button--primary-300 {
  color: h.$clr-pr-300;
  &:hover {
    background-color: h.$clr-pr-300;
    color: h.$clr-se-200;
  }
}
