// colors
// primary colors
$clr-pr-100: hsl(31, 77%, 52%);
$clr-pr-200: hsl(184, 100%, 22%);
$clr-pr-300: hsl(179, 100%, 13%);

// secondary colors
$clr-se-100: hsla(0, 0%, 100%, 0.75);
$clr-se-200: hsl(0, 0%, 95%);

// fonts
// fonts text
$ff-400: "Lexend Deca", sans-serif;

// fonts headings
$ff-700: "Big Shoulders Display", cursive;
